.App {
    background-color: #dadfe3;
}

header {
    background-color: #021F3F;
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
}

#heroHeader {
    background-color: #f1f1f1;
}

/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #044687;
}

/* Home Container */
.home-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bgourservices {
    background-image: url();
}

/* Body Section Styles */
.bdy {
    padding: 40px 20px;
    width: 100%;
}

/* Services Section */
.services {
    padding: 40px 20px;
    width: 100%;
    background-color: #ffffff;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: auto;
    /* Adjusted to maintain aspect ratio */
    border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .bdy {
        padding: 20px 10px;
    }

    .service-card {
        width: 80%;
        /* Full width on small screens */
        margin: 10px auto;
        /* Center cards */
    }

    .col-md-6 img {
        width: 100%;
        /* Full width on smaller screens */
    }

    .text-center h1 {
        font-size: 1.8rem;
        /* Smaller font size for mobile */
    }

    .text-center p {
        font-size: 1rem;
        /* Smaller font size for mobile */
    }
}